:root {
  --dark-jungle-green: #1a281fff;
  --gainsboro: #d8dbe2ff;
  --light-steel-blue: #a9bcd0ff;
  --cadet-blue: #58a4b0ff;
	--spanish-green: #109648ff;
  --light-jungle-green: #42664fff;
	--pgbar-length: 100%;

	--MATH-PI: 3.1415px;
	--percent: 100;
}

html {
  font-size: 100%;
  font-family: 'Cormorant Garamond', Arial, sans-serif;
  color: var(--dark-jungle-green);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 3rem 1rem;
	min-height: 100vh;
	background-color: var(--gainsboro);
}

.wrapper {
  margin: 0 auto;
  max-width: 70rem;
  background-color: var(--gainsboro);
  display: flex;
  box-shadow: 0px 0px 15px 4px #b3b3b3;
}

.intro {
  flex: 0 0 250px;
  background-color: var(--light-steel-blue);
  box-shadow: 5px 0px 15px 0px #b3b3b3;
  z-index: 5;
}

.profile {
  postition: relative;
/*   background-color: var(--spanish-green); */
  background-color: var(--cadet-blue);  
  padding: 2rem 1rem;
  margin-bottom: 50px;
  text-align: center;
  user-select: none;
}

.photo img {
	width: 80%;
	border-radius: 50%;
}

.bio .name {
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	margin-top: 1rem;
}

.intro-section {
	padding: 0 1rem;
}
.intro-section .title {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.info-section {
	margin: 1rem 0;
}
.info-section span {
	position: relative;
	transition: all 0.3s;
}
.info-section i {
	width: 20px;
	height: 20px;
}

.detail {
	flex: 1 0 0;
	background-color: white;
	padding: 2rem;
}

.detail-section {
	transition: all 0.3s;
}
.detail-title {
	display: flex;
	align-items: center;
}
.detail-section > .detail-content {
	padding: 1rem;
	padding-left: 2rem;
	user-select: none;
}

.detail-section time {
	font-size: 0.8rem;
	color: var(--light-jungle-green);
}

.detail-section h1 {
  font-size: 1rem;
	margin: 5px 0;
	transition: all 0.3s;
}

.detail-section hr {
  color: var(--light-jungle-green);
}

.detail-section p {
	font-size: 0.9rem;
	margin: 5px 0;
}

.title-icon + span {
	font-size: 1.5rem;
	transition: all 0.3s;
}
.title-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--cadet-blue);
	border-radius: 50%;
	transition: all 0.3s;
}
.title-icon i {
	color: white;
	line-height: 1rem;
	font-size: 1rem;
	text-align: center;
}

/* Interests */
.outer-frame {
	border: 1px solid var(--dark-jungle-green);
	border-radius: 5px;
}
.favor-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}
.favor-list > li {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	justify-content: baseline;
	flex-direction: column;
	color: var(--dark-jungle-green);
	padding: 1rem 0;
	transition: all 0.3s;
}
.favor-list > li > i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 50px;
	height: 50px;
}
.favor-list > li > span {
	letter-spacing: 1px;
}

/* 
	position: relative;
	background-color: var(--profile-theme);
	padding: 2rem 1rem;
	margin-bottom: 50px;
	text-align: center;
	user-select: none;
*/